{% extends 'base.html.twig' %}

{% block title %}Plot{% endblock %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th>Average Day Nap</th>
            <th>Average Night Sleep</th>
            <th>Average Awake Time</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ avg_day }}</td>
            <td>{{ avg_night }}</td>
            <td>{{ avg_awake }}</td>
        </tr>
        </tbody>
    </table>
    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Day Nap Duration</th>
            <th>Night Sleep Duration</th>
            <th>Awake Time</th>
        </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.day ? event.day.date|date('d M') : '' }}</td>
                <td>{{ event.day ? event.day.duration|date('H:i') : '' }}</td>
                <td>{{ event.night ? event.night.duration|date('H:i') : '' }}</td>
                <td>{{ event.awake ? event.awake.duration|date('H:i') : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
